body {
  padding: 0;
  margin: 0;
}
a,
a:hover {
  text-decoration: none;
}

.main div[class^="col"] {
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: center;
  text-align: center;
  border: solid 1px rgba(0, 0, 0, 0.1);
  background: #87c9ff;
}

.footer {
  height: 80px;
}
.header {
  background: #ff9900;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 22px;
}
.header div[class^="col"] {
  align-items: center;
  display: flex;
}
.header .col-left img {
  max-height: 50px;
  margin-right: 15px;
}
.header .col-right {
  justify-content: flex-end;
}
.header .col-right a {
  font-size: 15px;
  color: #fff;
}
.header .col-right img {
  width: 32px;
  height: 32px;
}
